<h1>Is that a Palindrome?</h1>
<form action="/results" method="get">
  <div class="form-group">
    <input class="form-control" type="text" name="input" id="input">
  </div>
  <button type="submit" class="btn-success">Submit</button>
</form>
